cloud_id = "id"
folder_id = "id"
zone = "ru-central1-a"
image_id = "id"
public_key_path = "key"
private_key_path = "key"
subnet_id = "subnet_id"
service_account_key_file = "terraforf_key"
region_id = "region"
