cloud_id = "b1gbs4tpc68rv4m4e5vp"
folder_id = "b1gmo4orlghttgo1fqua"
zone = "ru-central1-a"
image_id = "fd867iv3rrtvu88glpka"
public_key_path = "~/.ssh/yc_ssh-key.pub"
private_key_path = "~/.ssh/yc_ssh-key"
subnet_id = "subnet_id"
service_account_key_file = "terraforf_key.json"
region_id = "ru-central1"
